* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  background-color: rgb(206, 177, 16);
  color: #ffffff;
  text-decoration: none;
  margin: 10px;
}

/* 헤더 섹션  */

.header {
  background-image: url("../img/img_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 330px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  color: aliceblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-title {
  font-size: 50px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.header-content > a {
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 180px;
}

.header-content > a:hover {
  background-color: rgba(206, 178, 16, 0.493);
  transition: all 1.5s;
}

/* 메인 섹션 */

.main-contents-box {
  padding: 10px;
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
 }

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.281);
  border-radius: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

 .card-img {
  padding-top: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-title {
  background-color: rgba(47, 45, 45, 0.527);
  color: #ffffff;
  font-weight:900px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 20px;
}

.card > a {
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center; 
}

.card > a:hover {
  background-color: rgba(206, 178, 16, 0.493);
  transition: all 1.5s;
  grid-template-columns: 1fr 2fr 1fr;
}

/* 푸터 섹션 */

.footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: sticky;
  bottom: 0;
  padding: 20px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  background-color: rgb(43, 35, 35);
  color: aliceblue;
}
