/*  중요도와 적용 범위가 같다면 가장 마지막에 작성한 스타일이 적용된다. 아랫줄의
그룹 선택자의 #p1과 ID 선택자의 #p1을 비교 */

/* 전체 선택자: 모든 요소 선택  (*)  */
*{
  color: rgb(200, 235, 135);
}

/* 그룹 선택자: ','(콤마)를 구분자로 하여 복수의 선택자 요소를 선택 */
em, strong, #p1 {
  color: blueviolet;
}

/* ID 선택자: HTML Tag의 id로 선택  (#) */
#p1 {
  color: black;
}

/* 클래스 선택자: 주어진 class명을 가진 모든 요소를 선택  (.)*/
.font-color{
  color: orange;
}

/* 타입 선택자: 특정 태그명을 가진 모든 요소를 선택 */
p {
  color: red;
}
