* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  사이드바 영역 */
a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
.container {
    display: grid;
    grid-template-columns: 200px 1fr;
}
.header {
    background-color: #ff3b49;
    color: #fff;
    /* min-height: 100vh; --> 다 완성한 뒤엔 관계없지만 작업 중
    아이템들이 모자랄 때 보이고 있는 화면을 배경색이 덜 채워줄 수 있으므로 화면의 100%를 미리
    채우기 위해 min-height를 쓴다.
    (참고로 width는 vw를 쓴다!!)
     */
}

/* 오늘 학습은 여기까지! 내일 이어서~ */
.logo {
    margin: 3rem auto;
    text-align: center;
}
.header_sticky {
    position: sticky;
    top: 3rem;
}
.container_nav_list {
    margin-bottom: 5rem;
}
.nav_title {
    background-color: #ff5662;
    font-weight: 900;
    padding: 0.5rem 1rem;
}
.nav_item {
    padding: 0.2rem 1rem;
}

.nav_item:hover {
    background-color: #000;
    /* transition은 hover와 관련해서 마우스를 올리면 배경이 검은색으로 변경됨*/
    transition: all 2s;
}

/* main 영역 */
.main {
    background-color: #ffffffc4;
}
.main_search {
    height: 50px;
}
form {
    padding: 5px 1rem;
    display: flex;
    justify-content: space-between;
}
.main_title {
    height: 300px;
    background-image: url('../img/main_title.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_title > h2 {
    color: #ffffff;
    font-size: 3rem;
}
input[type="search"] {
    width: 80%;
    font-size: 1.5rem;
    font-weight: 900;
}
.btn_search {
    width: 40px;
    height: 40px;
    background-color: #6e5af0;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 900;
    color: #fff;
    text-align: center;
    line-height: 40px;
}
.main_card_list {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}
.card {
    background-color: #fff;
    padding: 1rem;
}
.card_img {
    padding-top: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1rem;
}
.card_info > p {
    font-size: 1.2rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}
.move_top {
    width: 50px;
    height: 50px;
    background-color: #6e5af0;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    border-radius: 50%;
    font-size: 1.3rem;
    font-weight: 900;
    color: #fff;
    text-align: center;
    line-height: 50px;
}
.move_top > a {
    display: inline-block;
}
